---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Features from '~/components/widgets/Features.astro';
import Steps from '~/components/widgets/Steps.astro';
import Brands from '~/components/widgets/Brands.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
	title: 'VADO - Tour Homes on Your Terms',
	ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
	<!-- Hero Widget ******************* -->

	<Hero
		id='homes'
		actions={[
			{
				variant: 'primary',
				text: 'Learn More',
				href: '/#learn-more',
				icon: 'tabler:circle-arrow-down',
			},
		]}
		image={{
			src: '~/assets/images/hero-image.png',
			alt: 'Aerial shot rendered of a neighborhood',
		}}
	>
		<Fragment slot='title'>
			Tour Homes on Your Terms with
			<span class='text-accent dark:text-white highlight'>
				VADO</span
			>
		</Fragment>

		<Fragment slot='subtitle' class='text-right'>
			<span class='text-black dark:text-white'
				>Self-guided home tours <span
					class='font-semibold text-black dark:text-white'
					>powered by AI</span
				></span
			>
			-
			<br />
			<span class='text-black dark:text-white'
				>like having a <i><b>top agent</b></i> in your pockets</span
			>
		</Fragment>
	</Hero>

	<!-- Hero2 Intro Section *************** -->

	<Hero2
		id='learn-more'
		image={{
			src: '~/assets/images/home/phone.png',
			alt: 'Screenshot of the phone',
		}}
	>
		<Fragment slot='title'>
			Tour homes<span class='text-accent dark:text-white'>
				anytime</span
			>, get expert insights <i>instantly. </i><br /><span
				class='text-accent dark:text-white highlight'>VADO</span
			> gives you the freedom and information you need to find your
			<b class='text-accent'>perfect home</b>
		</Fragment>
	</Hero2>

	<!-- Features Widget *************** -->

	<Features
		id='features'
		tagline='Features'
		title='What VADO has to offer'
		subtitle='Vado has everything you need as an independent homebuyer, allowing you to tour your dream home the way you want and whenever you feel.'
		items={[
			{
				title: 'Self-Guided Tours',
				description:
					'Tour homes on your own schedule, at your own pace. No pressure, no rush.',
				icon: 'tabler:home',
			},
			{
				title: 'AI-Powered Insights',
				description:
					'What’s the potential ARV of this room? Can I install a deck here? Get instant answers about the home and neighborhood from our AI assistant.',
				icon: 'tabler:brain',
			},
			{
				title: 'AR Visualization',
				description:
					'Use augmented reality to visualize renovations and furniture placement.',
				icon: 'tabler:augmented-reality',
			},
			{
				title: 'Instant Access',
				description:
					'When you’re ready to tour, just show up and tour right away!',
				icon: 'tabler:lock-open-2',
			},
		]}
	/>

	<!-- Steps Widget ****************** -->

	<Steps
		id='how-it-works'
		title='How It Works'
		items={[
			{
				title: 'Step 1: <span class="font-medium">Browse Listings</span>',
				description:
					'Search available homes in your area. If a house is open, you can begin touring! If not, no worries, reserving a spot is just as easy.',
				icon: 'tabler:template',
			},
			{
				title: 'Step 2: <span class="font-medium">Arrive & Enter</span>',
				description:
					'Use our secure digital access system. Vado verifies every home entry, so that both the buyer and the seller are as safe as possible.',
				icon: 'tabler:door-enter',
			},
			{
				title: 'Step 3: <span class="font-medium">Explore & Learn</span>',
				description:
					'Tour at your own pace with AI guidance. Go in-depth or as cursory as you like',
				icon: 'tabler:hearts',
			},
		]}
		image={{
			src: '~/assets/images/home/home.jpg',
			alt: 'Steps image',
		}}
	/>

	<!-- Brands Widget ****************** -->

	<Brands
		title='Partnerships & Collaborations'
		subtitle='Work with our team of DISRUPTORS from and backed by world class institutions...'
		icons={[]}
		images={[
			{
				src: '~/assets/images/brands/intel.png',
				alt: 'Intel',
			},
			{
				src: '~/assets/images/brands/microsoft.png',
				alt: 'Microsoft',
			},
			{
				src: '~/assets/images/brands/pearx.png',
				alt: 'PearX',
			},
			{
				src: '~/assets/images/brands/penn.png',
				alt: 'Penn State',
			},
			{
				src: '~/assets/images/brands/y.png',
				alt: 'Y-Combinator',
			},
		]}
	/>

	<!-- CallToAction Widget *********** -->

	<CallToAction
		id='coming-soon'
		actions={[
			{
				variant: 'primary',
				text: 'Download App',
				href: '/#coming-soon',
				icon: 'tabler:download',
			},
		]}
	>
		<Fragment slot='title'>
			Ready to find your <br class='block sm:hidden' /><span
				class='sm:whitespace-nowrap'>dream home?</span
			>
		</Fragment>

		<Fragment slot='subtitle'> Get started with VADO today</Fragment>
	</CallToAction>
</Layout>
