---
import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Features from '~/components/widgets/Features.astro';
import Steps from '~/components/widgets/Steps.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import heroImage from '~/assets/images/hero-image.png'

const metadata = {
	title: 'VADO - Tour Homes on Your Terms',
	ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
	<!-- Hero Widget ******************* -->

	<Hero
		actions={[
			{
				variant: 'primary',
				text: 'Learn More',
				href: '/#learn-more',
				icon: 'tabler:circle-arrow-down',
			},
		]}
		image={{
			src: heroImage,
			alt: 'VADO Hero Image',
		}}
	>
		<Fragment slot='title'>
			Tour Homes on Your Terms with
			<span class='text-accent dark:text-white highlight'>
				VADO</span
			>
		</Fragment>

		<Fragment slot='subtitle' class='text-right'>
			<span class='text-white'
				>Self-guided home tours <span
					class='font-semibold text-white'
					>powered by AI</span
				></span
			>
			-
			<br />
			<span class='text-white'
				>like having a <i><b>top agent</b></i> in your pockets</span
			>
		</Fragment>
	</Hero>

	<!-- Hero2 Intro Section *************** -->

	<Hero2
		image={{
			src: '~/assets/images/home/phone.png',
			alt: 'AstroWind Hero Image',
		}}
	>
		<Fragment slot='title'>
			Tour homes<span class='text-accent dark:text-white'>
				anytime</span
			>, get expert insights <i>instantly. </i><br /><span
				class='text-accent dark:text-white highlight'>VADO</span
			> gives you the freedom and information you need to find your
			<b class='text-accent'>perfect home</b>
		</Fragment>

		<!-- <Fragment slot='subtitle'>
			Let us help you as you go into your next home adventure. We
			believe that this process should be easy, because finding a
			new home is a hard enough and long process as it is. You need
			a good team in your corner, let’s work together!
		</Fragment> -->
	</Hero2>

	<!-- Features Widget *************** -->

	<Features
		id='features'
		tagline='Features'
		title='What VADO has to offer'
		subtitle='Vado has everything you need as an independent homebuyer, allowing you to tour your dream home the way you want and whenever you feel.'
		items={[
			{
				title: 'Self-Guided Tours',
				description:
					'Tour homes on your own schedule, at your own pace. No pressure, no rush.',
				icon: 'tabler:home',
			},
			{
				title: 'AI-Powered Insights',
				description:
					'What’s the potential ARV of this room? Can I install a deck here? Get instant answers about the home and neighborhood from our AI assistant.',
				icon: 'tabler:brain',
			},
			{
				title: 'AR Visualization',
				description:
					'Use augmented reality to visualize renovations and furniture placement.',
				icon: 'tabler:augmented-reality',
			},
			{
				title: 'Instant Access',
				description:
					'When you’re ready to tour, just show up and tour right away!',
				icon: 'tabler:lock-open-2',
			},
		]}
	/>

	<!-- Steps Widget ****************** -->

	<Steps
		title='How It Works'
		items={[
			{
				title: 'Step 1: <span class="font-medium">Browse Listings</span>',
				description:
					'Search available homes in your area. If a house is open, you can begin touring! If not, no worries, reserving a spot is just as easy.',
				icon: 'tabler:template',
			},
			{
				title: 'Step 2: <span class="font-medium">Arrive & Enter</span>',
				description:
					'Use our secure digital access system. Vado verifies every home entry, so that both the buyer and the seller are as safe as possible.',
				icon: 'tabler:door-enter',
			},
			{
				title: 'Step 3: <span class="font-medium">Explore & Learn</span>',
				description:
					'Tour at your own pace with AI guidance. Go in-depth or as cursory as you like',
				icon: 'tabler:hearts',
			},
		]}
		image={{
			src: '~/assets/images/home/home.jpg',
			alt: 'Steps image',
		}}
	/>

	<!-- Stats Widget ****************** -->

	<Stats
		stats={[
			{ title: 'Downloads', amount: '132K' },
			{ title: 'Stars', amount: '24.8K' },
			{ title: 'Forks', amount: '10.3K' },
			{ title: 'Users', amount: '48.4K' },
		]}
	/>

	<!-- CallToAction Widget *********** -->

	<CallToAction
		actions={[
			{
				variant: 'primary',
				text: 'Download App',
				href: 'https://github.com/onwidget/astrowind',
				target: '_blank',
				icon: 'tabler:download',
			},
		]}
	>
		<Fragment slot='title'>
			Ready to find your <br class='block sm:hidden' /><span
				class='sm:whitespace-nowrap'>dream home?</span
			>
		</Fragment>

		<Fragment slot='subtitle'> Get started with VADO today</Fragment>
	</CallToAction>
</Layout>
